@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  line-height: 1.2;
  margin: 10px 0;
  font-weight: 300;
}

p {
  font-weight: 300;
}

img {
  width: 100%;
}

.navbar .flex {
  justify-content: space-between;
}

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.grid {
  display: grid;
}

.showcase p {
  margin: 20px 0;
}

.navbar {
  background-color: var(--primary-color);
  height: 70px;
  color: white;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin:  0 10px;
  color: white;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;  
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  justify-content:center;
  height: 100%;
  align-items: center;
}